//colors
$white: #ffffff;
$grayLight: #cccccc;
$gray: #999999;
$darkGray: #555555;
$black: #000000;
$orange: #d9841f;
$red: #ff0020;
$green: #00ff20;

//sizes
$cellWidth: 36px;
$cellFontSize: 27px;
$sudokuWidth: 355px;
$sudokuHeight: 355px;

